{% extends "base.html" %}
{% block content %}
<div class="card">
  <h2>ورود</h2>
  {% if error %}<div class="err">{{ error }}</div>{% endif %}
  <form method="post" action="/auth/login">
    <label>نقش</label>
    <select name="role">
      <option value="user">کاربر</option>
      <option value="referee">داور</option>
      <option value="manager">مدیر سامانه</option>
    </select>

    <label>شماره همراه</label>
    <input name="phone" required>

    <label>کد ملی (برای داور/مدیر)</label>
    <input name="nid">

    <label>رمز عبور</label>
    <input name="password" type="password" required>

    <button class="btn primary">ورود</button>
  </form>

  <hr/>

  <h3>ثبت‌نام (فقط کاربر)</h3>
  <form method="post" action="/auth/signup">
    <label>نام و نام خانوادگی</label>
    <input name="name" required>

    <label>شماره همراه</label>
    <input name="phone" required>

    <label>کد ملی</label>
    <input name="nid" required>

    <label>رمز عبور</label>
    <input name="password" type="password" required>

    <label>تکرار رمز عبور</label>
    <input name="password2" type="password" required>

    <button class="btn">ثبت‌نام</button>
  </form>
</div>
{% endblock %}
